<div class="mb-4 mb-sm-6 border-bottom border-primary border-3">
    <div class="container">
        <nav class="navbar navbar-expand-md pb-0">
            <div class="container-fluid pb-3 pb-sm-5 px-0 flex-md-nowrap  align-items-center">
                <div class="navbar-brand d-flex align-items-center py-0 me-0">
                    <a href="index.html" class="d-flex">
                        <img src="../assets/images/logo.png" alt="7TAO活動訂票網"
                            class="d-inline-block align-text-top me-sm-4 img-size">
                        <h1 class="fs-3 d-flex align-items-center">7TAO<span class="fs-7 ms-1 fw-bold">活動訂票網</span></h1>
                    </a>
                    <form class="d-flex ms-5 ms-sm-6 ms-lg-8">
                    <input
                        class="form-control bg-transparent border-primary border-2 py-2 py-sm-4 px-sm-5 text-light input-size"
                        type="search" placeholder="探索活動" aria-label="Search">
                    <a class="btn btn-primary btn-p-size d-flex align-items-center" type="button">
                        <span class="material-icons-outlined img-size-2">
                            search
                        </span>
                    </a>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a type="button" href="#" class="hover-text-yellow2"><i
                                    class="icofont-ui-file me-1"></i>REGISTER</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="ms-0 ms-md-2 ms-lg-5 hover-text-yellow2" href="#"><i
                                    class="icofont-ui-user me-1"></i>LOGIN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>